extends ../layout

block content
  div.admin
    h3
      a(href='/') Home
        img(src='/images/RainbowStar.gif-c200' width='25px') 
  div.container
    div.container-border
      h1 Edit a Book
      form(action='/books/edit/#{book.id}' method='post')
        include ./book_form.jade
      if errors
        ul.errors
          for error in errors
            li #{error}
