extends layout

block content
  div.login
    a(href='/login') Admin Login
  div
    a(href='/books/add') Add Book
    a(href='/authors/add') Add Author
  
  div.container
    h1= title
    p Welcome to #{title}
    
    form(onSubmit="this.action='/authors/' + this.author.value" method='get')
      div.form-group
        label(for="author") Author
        input.form-control(type="text" id="author" name="author" value= '' placeholder="Search author...")
      div.form-group
        button.btn.btn-primary(type="submit") Search
    form(onSubmit="this.action='/books/' + this.book.value" method='get')
      div.form-group
        label(for="book") Book
        input.form-control(type="text" id="book" name="book" value= '' placeholder="Search book...")
      div.form-group
        button.btn.btn-primary(type="submit") Search
      
    a(href='/books') Books
    br
    a(href='/authors') Authors
    
    img(src='http://code.divshot.com/geo-bootstrap/img/test/counter2.gif' class='counter')
