doctype html
html
  head
    title= title
    link(href="/stylesheets/bootstrap.min.css", rel="stylesheet", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
