doctype html
html
  head
    title= title
    link(href="/stylesheets/bootstrap.min.css", rel="stylesheet", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js')
    script(src='/javascripts/script.js')
    script(src='/javascripts/cursor.js')
  body
    block content

  footer
    div.awards
      img(src='/images/wabwalk.gif')
      img(src='/images/webtrips.gif')
      img(src='/images/yahooweek.gif')
      img(src='/images/community.gif')
    img(src='http://code.divshot.com/geo-bootstrap/img/test/counter2.gif' class='counter')
    p &copy 1996 Galvanize, Inc. 
    
