extends ../layout

block content
  div.admin
    h3
      a(href='/') Home
        img(src='/images/RainbowStar.gif-c200' width='25px') 
  div.container
    div.container-border
      h1 Add an Author
      
      form(action='/' method='post')
        div.form-group
          label(for="name") Name
          input.form-control(type="text" id="name" name="name" value= '' placeholder="Enter name... ex: Mark Twain")
        div.form-group
          label(for="portrait-url") Portrait URL
          input.form-control(type="text" id="portrait-url" name="portrait-url" value= '' placeholder="Enter portrait url...")
        div.form-group
          label(for="bio") Biography
          textarea.form-control(type="text" id="bio" name="bio" value= '' placeholder="Enter author bio...")
        div.form-group
          label(for="books") Book/s
          textarea.form-control(type="text" id="books" name="books" value= '' placeholder="Enter books...(ex: The Mysterious Stranger)")
        div.form-group
          button.btn.btn-primary(type="submit") Add Author
          
        if errors
          p errors.message
