extends ../layout

block content
  div
    a(href='/') Home
  h1 Authors
  if authors[0] != null
    for author in authors
      h2 
        a.btn-link(href='../profile/#{author.id}') #{author.first} #{author.last}
  else
    p search returned 0 results
