extends ../layout

block content
  div.admin
    h3
      a(href='/') Home
        img(src='/images/RainbowStar.gif-c200' width='25px')
  div.container
    div.container-border
      h1 Edit an Author 
      form(action='/authors/edit/#{author.id}' method='post')
        include ./author_form.jade
      if errors
        p errors.message
